<html>
<head>
	<title>FeedBack Project using modelforms</title>
	<style> *{ font-size:40px; } </style>
	<link rel="stylesheet" href="http://feedbackeb-env.eba-pi9iwmem.us-east-1.elasticbeanstalk.com/static/admin/css/nav_sidebar.css">
	<link rel="stylesheet" href="http://feedbackeb-env.eba-pi9iwmem.us-east-1.elasticbeanstalk.com/static/admin/css/base.css">
	<link rel="stylesheet" href="http://feedbackeb-env.eba-pi9iwmem.us-east-1.elasticbeanstalk.com/static/admin/css/responsive.css">
	<link rel="stylesheet" href="http://feedbackeb-env.eba-pi9iwmem.us-east-1.elasticbeanstalk.com/static/admin/css/dashboard.css">
	<script type="text/javascript" src="http://feedbackeb-env.eba-pi9iwmem.us-east-1.elasticbeanstalk.com/static/admin/js/nav_sidebar.js"></script>
	
</head>
<body>
<center>
	<h1> FeedBack Form1 </h1>
	<form method="POST">
	{% csrf_token %}
	<table border="3">
		{{ fm.as_table }}
	</table>
		<br>
		<br>
		<br>
		<input type="submit">
	</form>
	{{ msg }}
</center>
</body>
</html>